@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>公司简介.</h1>    
</hgroup>

<article>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中山市博信电子有限公司位于伟人故里中山市，是一家专业从事暖通空调自控及楼宇自控产品的研发、生产、销售、服务的高新技术企业。公司自成立以来，一直把质量作为生存之本，严格执行ISO9001∶2000等质量管理体系。公司产品涵盖中央空调各类温控器；各类电动二通阀；电动调节阀；动态、静态平衡阀；电动碟阀；电磁阀；集控系统；空调计费系统及各类磁滞电机等。本公司产品种类齐全，配套性强，不仅能提供高性价比的产品，而且还能为您提供暖通工程的全面解决方案，业务遍布海内外。<br/><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;精益求精的产品质量，尽善尽美的服务理念是本公司的宗旨。凭着先进的制造设备，精湛的生产工艺，完美的质量保证体系以及现代化的管理来满足客户的不同需求，确保技术及产品始终走在行业的前沿。本公司拥有强大的科研实力及精良的实验平台，先后自主研发了智能型阀门，各种类型温控器及各种电动阀专用磁滞同步电机，每种产品都得到了新老客户的广泛认可。目前，本公司具有年产200万套电动二通阀，100万台温控器；2万套电动调节阀及300万台磁滞电机的生产能力，并可根据客户需求来样定做非标产品。
        优质专业的员工队伍；求实，创新的企业文化是提供优质产品，一流服务的保证。我们竭诚欢迎海内外客商与我们精诚合作，共展宏图！
    </p>
</article>

<aside>

    <ul>
        <li>@Html.ActionLink("主页", "Index", "Home")</li>
        <li>@Html.ActionLink("公司简介", "About", "Home")</li>
        <li>@Html.ActionLink("产品列表", "Products", "Home")</li>
        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
    </ul>
</aside>