@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <b>中山市博信电子有限公司 (诚征全国代理）<br /></b>
        <span style="color: blue">Zhongshan Blossom Electronics Co.,LTD.</span>
    </p>
    <p>
        厂址:中山市港口镇沙港中路博信工业园
    </p>
    <p>
        电话:0760-88482184 88482174<br />
        传真:0760-88610866
    </p>
    <p>
        联系人:黄献林<br />
        手机:13549874394<br />
        <a href="Http://www.blossom-gd.com">Http://www.blossom-gd.com</a><br />
        E-mail:blossom_gd@126.com
    </p>
    <p>
        销售总部<br />
        电话：0760-87694258<br />
        传真：0760-88610866
    </p>
</article>