@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    #demo,#hdemo {
        background: #FFF;
        overflow: hidden;
        border: 1px dashed #CCC;
        width: 500px;
    }

    #demo img,#hdemo img {
        border: 3px solid #F2F2F2;
    }

    #indemo,#hindemo {
        width: 800%;
    }

    #indemo, #demo1, #demo2,#hindemo, #hdemo1, #hdemo2 {
        float: left;
    }
</style>
@Scripts.Render("~/bundles/jquery")
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="953" height="307">
                <param name="movie" value="img/index.swf" />
                <param name="quality" value="high" />
                <embed src="/Images/index.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="953" height="307"></embed>
            </object>
        </div>

    </section>
}
<h3>推荐产品:</h3>
<ol class="round">
    <li>
        <h5>最新单品</h5>
        <div id="demo" style="width: 95%">
            <div id="indemo">
                <div id="demo1">                    
                </div>
                <div id="demo2"></div>
            </div>
        </div>
    </li>

    <li>
        <h5>热销产品</h5>
        <div id="hdemo" style="width: 95%">
            <div id="hindemo">
                <div id="hdemo1">
                </div>
                <div id="hdemo2"></div>
            </div>
        </div>
    </li>
</ol>

<script type="text/javascript">
    var speed = 15;

var tab=document.getElementById("demo");
var tab1=document.getElementById("demo1");
var tab2 = document.getElementById("demo2");

var htab = document.getElementById("hdemo");
var htab1 = document.getElementById("hdemo1");
var htab2 = document.getElementById("hdemo2");


$(function () {
    $.post("/home/GetProducts", {}, function (data, textStatus, jqXhr) {        
        if (typeof data.rows != "undefined") {
            for (var i = 0; i < data.rows.length; i++) {
                if (data.rows[i].Icon != "") {
                    if (data.rows[i].Type == "0") {
                        $("#demo1").append(' <a href="#"><img src="/UploadFile/' + data.rows[i].Icon + '" border="0"/></a>');
                    }
                    if (data.rows[i].Type == "1") {
                        $("#hdemo1").append(' <a href="#"><img src="/UploadFile/' + data.rows[i].Icon + '" border="0"/></a>');
                    }
                }
            }
        }

        tab2.innerHTML = tab1.innerHTML;

        htab2.innerHTML = htab1.innerHTML;

        var myMar = setInterval(Marquee, speed);

        var hmyMar = setInterval(hMarquee, speed);

        tab.onmouseover = function () { clearInterval(myMar) };
        tab.onmouseout = function () { myMar = setInterval(Marquee, speed) };

        htab.onmouseover = function () { clearInterval(hmyMar) };
        htab.onmouseout = function () { hmyMar = setInterval(hMarquee, speed) };
    });
});

function Marquee() {
    if (tab2.offsetWidth - tab.scrollLeft <= 0)
        tab.scrollLeft -= tab1.offsetWidth;
    else {
        tab.scrollLeft++;
    }
}

function hMarquee() {    

    if (htab2.offsetWidth - htab.scrollLeft <= 0)
        htab.scrollLeft -= htab1.offsetWidth;
    else {
        htab.scrollLeft++;
    }
}

</script> 
